# --- Large data / recordings 
*.csv
*.raw
*.h5
*.hdf5
*.dat
*.npy
*.npz
*.rrd
*.bin
*.bag
*.aedat
*.aedat4

*.pt
*.pth
*.ckpt

build/
dist/
*.o
*.elf
*.a
*.so
*.pyc

# --- Python environments / caches ---
.venv/
venv/
env/
__pycache__/
*.egg-info/
.ipynb_checkpoints/

# --- Editor / OS ---
.vscode/
.idea/
.DS_Store
*.swp

media/*.mp4
media/*.mov
media/*.avi
media/*.gif
media/*.png
media/*.jpg
media/*.jpeg
!media/README.md
media/*.webm
media/*.pdf


# Curated files reference
!media/60s_hover.mp4
!media/hover.gif
!media/trajectory.gif
!media/flight_gt_estimate_rerun_tracked_features_image_frame.webm
!media/features.jpg
!media/features+drone.jpg
!media/fig0_frontpage_strip.png
!media/fig2_frontend_wide.png
!media/fig3_ekf.png


tmp/